{% extends 'base.html' %}
{% load markdown_filter %}
{% load static %}
{% block content %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="card shadow-sm">

            <div class="bg-body-secondary">
              <div class="row">
                <div class="col text-center py-3">
                  {% if note.image.url != None  %}
                  <img src="{{ note.image.url }}" width=400px height=300px/>
                  {% else %}
                  <div style="font-size:1.5em !important;width:400px;height:300px;overflow:hidden;">
                    {{ note.expression|markdown_to_html|safe }}
                  </div>
                  {% endif %}
                </div>
                <div class="col text-start">
                  <h5 class="card-text pt-3 pb-1"><a href="">{{ note.title }}</a></h5>
                  <div class="card-text text-end px-3 pb-3"><small>{{ note.type_name }}</small></div>
                  <div class="card-text bg-dark-subtle p-1 text-center">
                    {% for tag in note.tags.all %}
                    <div class="btn btn-outline-secondary btn-sm tag">
                      {{ tag.name }}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="card-text bg-body-secondary p-3">
                  {{ note.content|markdown_to_html|safe }}
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body p-0">
              <h5 class="card-text pt-3 pb-1 px-3">Note Text : </h5>
              <div class="card-text">
                {{ note.body|markdown_to_html|safe }}
              </div>
              <h5 class="card-text pt-3 pb-1 px-3">Simple Expression :</h5>
              <div class="card-text bg-body-tertiary">
                {{ note.expression|markdown_to_html|safe }}
              </div>
              <h5 class="card-text pt-3 pb-1 px-3">Sample Code :</h5>
              <div class="card-text bg-secondary">
                {{ note.example|markdown_to_html|safe  }}
              </div>
              <div class="card-text text-end p-1">
              	{{ note.pub_date_pretty }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  let list_id = null;
let tag_id = null;

$(document).ready(function() {
  // Handle the click event on the dropdown items
  $('.dropdown-item').on('click', function(event) {
      event.preventDefault(); // Prevent the default anchor behavior

      const selectedText = $(this).text();
      $('#note_lists').text(selectedText);
      list_id= $(this).data('value');
      //console.log('Selected value:', list_id); // Log or use as needed
  });

const filter_button = document.getElementById("filter_button")

filter_button.onclick = function () {
    console.log(list_id);
    if (list_id == 0 || list_id == null) {
      location.href = "{% url 'allnotes' %}";
    }
    else {
      location.href = "list/" + list_id ;
    }
};

  // Take the tag buttons and forward to related page
  $('.tag').on('click', function(event) {
      event.preventDefault(); // Prevent the default anchor behavior

      tag_id= $(this).val();
      console.log('Selected value:', tag_id); // Log or use as needed
      if (tag_id == 0 || tag_id == null) {
        location.href = "{% url 'allnotes' %}";
      }
      else {
        location.href = "tag/" + tag_id;
      }
  });
});
</script> 
{% endblock %}