{% extends 'base.html' %}

{% block content %}

{% load markdown_filter %}
{% load static %}

  <section class="py-5  container" style="background-image:url('media/images/dersu_uzala.jpg');">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light text-center text-light">Murat Kendir's Knowledge "Basement"*</h2>

        <p class="lead text-light text-center">"We found a hut and dry wood here. Others will come. Give them rice, salt and matches, Captain."</p>
        <p class="text-light text-end">from the movie "Dersu Uzala", Akira Kurosawa, 1975</p>
        <div class="shadow-sm">
          <a href="mailto:muratkendir@gmail.com" class="btn2 btn-primary my-1 float-end">Email me</a>
        </div>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-secondary">
    <div class="container px-3">
		<h2 class="fw-light">Who am i?</h2>
    <p class="fw-light">Murat Kendir.</p>
    <p class="card-text">I was born in Germany and spent my youth and most of my professional career in Turkey. I completed a Bachelor's degree in Geomatics Engineering and a Master's degree in Geographic Information Technology at Istanbul Technical University. I have gained work experience in both practical and information technology fields. I am currently working as a researcher at the Technical University of Munich. I am married and have one child.</p>
    <p class="card-text">In many of my other interests I like to remain an amateur. I believe in learning to learn. Living is a serious business. But there should always be time for good music or a good coffee.</p>
    </div>
  </div>
  <div class="album py-5 bg-dark-subtle">
    <div class="container px-3">
    <h2 class="fw-light">What is the purpose?</h2>
    <div class="fw-light">
      <ul>
        <li>organizing my knowledge/information/data</li>
          <ul>
            <li> to be more nerd about these things.</li>
          </ul>
        <li>That's all. Enjoy the website!</li>
      </ul>
    </div>
    </div>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
    	<h2 class="fw-light">Latest Notes</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for note in last_notes.all %}
        <div class="col">
          <div class="card shadow-sm">
            {% if note.image.url != None  %}
            <img src="{{ note.image.url }}"/>
            {% else %}
            <div style="font-size:2em !important;width:400px;height:300px;overflow:hidden;">
              {{ note.expression|markdown_to_html|safe }}
            </div>
            {% endif %}
            <div class="card-body">
              <p class="card-text">
                <a href="note/{{ note.id }}">
                {{ note.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
