<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    {% load static %}
    {% load markdown_filter %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Murat Kendir">

    <title>Murat Kendir's Knowledge "Basement"</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">

    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="media/custom.css">
    <link rel="stylesheet" href="../media/friendly.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Favicons -->

<link rel="icon" type="image/x-icon" href="media/favicon.ico">
<meta name="theme-color" content="#712cf9">
 
</head>
<body>


    
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg petrolMavisi">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">(ºUº) Murat Kendir</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
        </li>
        <!-- Link for static files
        <li class="nav-item">
          <a class="nav-link" href="{% static 'TimeLine_WiSe_24-25_DGIS-CC_v4.pdf' %}">Resume</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allnotes' %}">Notes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

<main>

  <section class="py-5  container" style="background-image:url('media/images/dersu_uzala.jpg');">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light text-center text-light">Murat Kendir's Knowledge "Basement"*.</h2>

        <p class="lead text-light text-center">"We found a hut and dry wood here. Others will come. Give them rice, salt and matches, Captain."</p>
        <p class="text-light text-end">from the movie "Dersu Uzala", Akira Kurosawa, 1971</p>
        <div class="shadow-sm">
          <a href="mailto:muratkendir@gmail.com" class="btn2 btn-primary my-1 float-end">Email me</a>
        </div>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-secondary">
    <div class="container px-3">
		<h2 class="fw-light">Who am i?</h2>
    <p class="fw-light">Murat Kendir.</p>
    <p class="card-text">I was born in Germany and spent my youth and most of my professional career in Turkey. I completed a Bachelor's degree in Geomatics Engineering and a Master's degree in Geographic Information Technology at Istanbul Technical University. I have gained work experience in both practical and information technology fields. I am currently working as a researcher at the Technical University of Munich. I am married and have one child.</p>
    <p class="card-text">In many of my other interests I like to remain an amateur. I believe in learning to learn. Living is a serious business. But there should always be time for good music or a good coffee.</p>
    </div>
  </div>
  <div class="album py-5 bg-dark-subtle">
    <div class="container px-3">
    <h2 class="fw-light">What is the purpose?</h2>
    <div class="fw-light">
      <ul>
        <li>organizing my knowledge/information/data</li>
          <ul>
            <li> to be more nerd about these things.</li>
          </ul>
        <li>That's all. Enjoy the website!</li>
      </ul>
    </div>
    </div>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
    	<h2 class="fw-light">Latest Notes</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for note in last_notes.all %}
        <div class="col">
          <div class="card shadow-sm">
            {% if note.image.url != None  %}
            <img src="{{ note.image.url }}"/>
            {% else %}
            <div style="font-size:2em !important;width:400px;height:300px;overflow:hidden;">
              {{ note.expression|markdown_to_html|safe }}
            </div>
            {% endif %}
            <div class="card-body">
              <p class="card-text">
                <a href="note/{{ note.id }}">
                {{ note.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<footer class="acikKahverengi py-5">
  <div class="container">
    <p>
      <a href="#" class="btn2 my-1 float-end">Back to top</a>
    </p>
    <p>*I apologize in advance for the mess.</p> 
    <p>Copyright Murat Kendir {% now "Y" %}</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>
</html>
