{% extends 'base.html' %}

{% block content %}

{% load static %}

  <div class="album py-5 bg-body-secondary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in jobs.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ job.image.url }}"/>
            <div class="card-body">
              <p class="card-text">
                {{ job.only_year }} | {{ job.duty }}
              </p>
              <p class="card-text">
                {{ job.mission }}
              </p>
              <p class="card-text float-end">
                {{ job.location }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
